<div id="settings" ng-controller="SettingsController">
  <accordion close-others="oneAtATime">
    <accordion-group ng-repeat="category in settings track by $index" ng-init="category_index = $index" is-open="status.open">
      <accordion-heading>
        {{category.category}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>
      <form name="settings_{{category_index}}" novalidate>
        <ul>
          <li ng-repeat="item in settings[category_index].items track by $index">
            <label>
            {{item.item}}
            <input ng-model="settings[category_index].items[$index].value" ng-disabled="!status.open" name="item_{{category_index}}_$index" value="{{item.value}}">
            </label>
          </li>
        </ul>
        <button ng-click="SettingsController.saveCategory(category_index)" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-ok" title="Save" aria-hidden="true"></span>
        </button>
        <button ng-click="SettingsController.resetCategory(category_index)" type="reset" class="btn btn-default">
          <span class="glyphicon glyphicon-remove" title="Cancel" aria-hidden="true"></span>
        </button>
      </form>
    </accordion-group>
  </accordion>
</div>
